.primaryStaticMenu {
	BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
.primaryStaticMenuItem {
	FONT-SIZE: 14px; BORDER-TOP: #c0c0c0 1px ridge; HEIGHT: 27px; FONT-FAMILY: "Trebuchet MS" , Arial; BORDER-RIGHT: #c0c0c0 1px ridge; WIDTH: 13em; BACKGROUND-IMAGE: url(../images/Menu.gif); BACKGROUND-REPEAT: repeat-x; BORDER-BOTTOM: #c0c0c0 1px ridge; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 3px; TEXT-ALIGN: left; PADDING-TOP: 3px; PADDING-LEFT: 10px; BORDER-LEFT: #c0c0c0 1px ridge; PADDING-RIGHT: 0px
}
.primaryStaticHover {
	BACKGROUND: #c0c0c0; COLOR: #000000
}
.primaryDynamicMenu {
	BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #a8bdd0
}
.primaryDynamicMenuItem {
	FONT-SIZE: 14px; BORDER-TOP: #c0c0c0 1px ridge; HEIGHT: 27px; FONT-FAMILY: "Trebuchet MS" , Arial; BORDER-RIGHT: #c0c0c0 1px ridge; WIDTH: 13em; BACKGROUND-IMAGE: url(../images/Menu.gif); BACKGROUND-REPEAT: repeat-x; BORDER-BOTTOM: #c0c0c0 1px ridge; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 3px; TEXT-ALIGN: left; PADDING-TOP: 3px; PADDING-LEFT: 10px; BORDER-LEFT: #c0c0c0 1px ridge; PADDING-RIGHT: 0px
}
.primaryDynamicHover {
	BACKGROUND: #c0c0c0; COLOR: #000000
}
